.date-picker-collapsible > ul > li > .collapsible-body {
   padding-top: 0px;
   padding-bottom: 0px;
}

.day-of-week-button {
   text-align: center;
}

.test {
   text-align: center;
}

.loader {
   z-index: 100000;
   position: fixed;
   left: 50%;
   top: 50%;
   height: 100px;
   width: 100px;
   transform: translate(-50%, -50%);
}

.loader-background {
   position: fixed;
   height: 100%;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 99999;
   background: rgba( 51, 51, 51, 0.7);
}


@media only screen and (min-width: 992px) {
   .fixed-left {
      position: fixed;
      top: 2%;
      left: 2%;
      z-index: 100;
   }
}

@media only screen and (max-width: 991px) {
   .fixed-left {
      position: fixed;
      width: inherit;
      top: 2vh;
      z-index: 100;
   }

   .dynamic-margin-top {
      margin-top: 11vh !important;
   }
}

.mt-2 {
   margin-top: 2vh;
}

.hover-pointer {
   cursor: grab;
}

.hover-pointer:active {
   cursor: grabbing;
}
